// body {
//     margin: 0;
//     padding: 0;
// }

.vDivider {
    width: 3rem;
    height: 1px;
    // margin: 10px auto;
    margin-bottom: 1rem;
    background: #ffffff;
}

.btmSpace {
    padding-bottom: 2rem;
}

.extraSpace {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

// .imgSpace {
//     padding: 2rem;
// }

.imgLayout {
    margin: 0 auto;
    display: block;
}

.isRight {
    justify-content: flex-end;
    line-height: 1rem;
}

.icons {
    padding: 1rem;
    &:last-child {
      margin-right: 0.5rem;       
    }
}

.iconLink {
    color: White;
}

.lessPadding {
    padding-bottom: 4rem;
}

.btmSpace2 {
    padding-bottom: 1.5rem;    
}

.iconFlex {
    display: flex;
}

.columnLayout {
    justify-content: space-between;
}


